/*  B A S I C   R E S E T  */
html {
  direction: ltr;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'League Spartan', sans-serif;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;

  &::selection {
    background: transparent;
  }
}

a {
  text-decoration: none;
}

